body, 
html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lightblue;
    line-height: 1.6;
}

.parallax {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bg-1 {
    background-image: url("https://images.unsplash.com/photo-1625974167082-c5080eafe61e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.bg-2 {
    background-image: url("https://images.unsplash.com/photo-1625974167082-c5080eafe61e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.content {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 40px;
    border-radius: 10px;
    width: 60%;
}

.content h1 {
    font-size: 3rem;
    margin: 0;
}

.normal-section {
    padding: 80px 20px;
    background-color: white;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}


h2 {
    font-size: 2rem;
    color: lightblue;
}

.btn-contact {
    padding: 12px 15px;
    background-color: lightskyblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
}

footer {
    background-color: lightblue;
    text-align: center;
    padding: 20px 0;
}
